@import 'tailwindcss';

:root {
  --foreground: #171717;
  --background: #ffffff;
  --background-s: #e1e1e1;
}

@theme inline {
  --color-background: var(--background);
  --color-background-s: var(--background-s);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #ededed;
    --background: #2d2d2d;
    --background-s: #747474;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
